<div *ngIf="forumPostListing$ | async as forumPostListing; else spinnerBlock">
  <div class="forum-grid-container">
    <div class="forum-header">
      <h2>
        f/{{forumPostListing.forum.name}}
      </h2>
    </div>
    <div class="forum-content">
      <app-post-card *ngFor="let post of forumPostListing.posts; let i = index" [post]="post" [forum]="forumPostListing.forum" [postNumber]="i+1"></app-post-card>          
    </div>
    <div class="forum-menu" [innerHtml]=convertMarkdown(forumPostListing.forum.description)></div>
  </div>
</div>
<ng-template #spinnerBlock>
  <div>
    <i style="color:tomato" class="fas fa-spinner fa-spin fa-3x"></i>
  </div>
</ng-template>