<form class="form-group">
  <div *ngIf="!isAuthenticated(); else logoutBlock" class="input-group">
    <div class="form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">u/</span>
      </div>
      <input type="text" #userName class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      <input type="password" #password class="form-control" placeholder="Password" aria-label="Password">
    </div>
    <button class="btn btn-success" (click)="login(userName.value, password.value);">login</button>    
  </div>
  <ng-template #logoutBlock>
    <button class="btn btn-info" (click)="logout();">logout</button>
  </ng-template>
</form>