.forum-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(25px, 50px) auto;
    grid-template-areas: "header menu" "content menu";
}

@media only screen and (max-width: 992px)  {
    .forum-grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content"
    }

    .forum-header {
        grid-area: header;
    }
    
    .forum-content {
        grid-area: content;
    }

    .forum-menu {
        display: none;
        /* grid-area: menu; */
    }
}

.forum-header {
    grid-area: header;
}

.forum-menu {
    grid-area: menu;    
}

.forum-content {
    grid-area: content;
}
