.post-card-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(50px, 1fr) 19fr;
    grid-template-rows: auto;
    grid-template-areas: "vote-panel header" "vote-panel body" "vote-panel footer";
}

.post-card {
    margin-bottom: .2rem;
    padding: .5rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.post-card-header {
    grid-area: header;
}

.post-card-body {
    grid-area: body;
}
.post-card-footer {
    grid-area: footer;   
    display: flex; 
}

.post-card-vote-panel {
    grid-area: vote-panel;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upvoted {
    color: lightgreen;
}

.downvoted {
    color: lightcoral;
}

.vote-count {
    margin-bottom: .1rem;
    margin-top: .1rem;
    font-weight: bolder;
}

.post-card-footer > .comment-count { 
    margin-left: 0;   
}

.post-card-footer > .forum-name {
    margin-left: .5rem;
}

.post-card-footer > .spacer {
    flex-grow: 1;
}