body > app-root > .router-outlet-wrapper {
    padding-top: 75px;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.router-outlet-wrapper {
    flex: 1 0 auto;
}

button:disabled {
    cursor: not-allowed;
}