<div class="row justify-content-center align-items-center">
    <div class="col col-sm-(10 col-md-8 col-lg-5 col-xl-4">
        <div *ngIf="!isAuthenticated(); else logoutBlock">
            <div>{{loginFailureMessage}}</div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="userName">UserName</label>
                    <input type="text" formControlName="userName" class="form-control" placeholder="Username" required>                
                    <div *ngIf="loginForm.controls['userName'].errors && !loginForm.controls['userName'].pristine" class="alert alert-danger">
                        <div [hidden]="!loginForm.controls['userName'].errors.required">UserName is required.</div>
                    </div>
                </div>        
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                    <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="alert alert-danger">
                        <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
                    </div>
                </div>    
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg btn-block">Login</button>
            </form>            
        </div>
        <ng-template #logoutBlock> 
            <button class="btn btn-info btn-lg btn-block" (click)="logout()">Logout</button>
        </ng-template>
    </div>
</div>
